Repository progressive-identity/cookies-scraper-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "src/**/*.{js,jsx,ts,tsx, json}": "prettier --write"
}

(dep): add puppeteer to the project
  package-lock.json
  package.json
Due: none

(test): initialize tests
  test/blank.test.ts
Due: eslint --fix

(doc): add a README.md
  README.md
Due: none

(controller): add a CookieScrapperController.ts to POC the cookie scrapping
  src/controllers/CookieScrapperController.ts
Due: eslint --fix, prettier --write

(sitemap): add sitemap finder function
  src/controllers/CookieScrapperController.ts
Due: eslint --fix, prettier --write

(cookie): add TODO
  src/controllers/CookieScrapperController.ts
Due: eslint --fix, prettier --write

(cookie): add TODOs
  src/controllers/CookieScrapperController.ts
Due: eslint --fix, prettier --write

config(github-actions): add yml
  .github/workflows/github-actions-demo.yml
Due: none

config(github-actions): update yml to deploy on CC
  .github/workflows/github-actions-demo.yml
Due: none

config: remove apm
  .env.template
  package.json
  src/index.ts
  src/middlewares/errorHandler.ts
  src/utils/logging/initapm.ts
Due: eslint --fix, prettier --write

config: add missing package
  package-lock.json
  package.json
Due: none

config(github-actions): update yml
  .github/workflows/github-actions-demo.yml
  .github/workflows/github-actions.yml
Due: none

config: fix typo in yml
  .github/workflows/github-actions.yml
Due: none

config: fix error in yml
  .github/workflows/github-actions.yml
Due: none

config(github-actions): add slack notifications
  .github/workflows/github-actions.yml
Due: none

config(github-actions): update slack notifications
  .github/workflows/github-actions.yml
Due: none

init (stoplight): add the open-api file for the API and a schema
  CookieInfo.json
  reference/cookies-scraper.json
Due: none

config: add some idea files to .gitignore
  .gitignore
Due: none

config: update project name
  package.json
Due: none

config: update project name and description
  package.json
Due: none

openapi: organize openapi files and add a script to generate the types
  openapi/v1/components/schemas/CookieInfo.json
  openapi/v1/cookies-scraper.json
  package-lock.json
  package.json
  scripts/generateOpenApiTypes.mjs
  types/cookies-scraper.openapi-types.ts
Due: eslint --fix

config(idea): add a config file
  .idea/jsLibraryMappings.xml
Due: none

init(stoplight): and and update schemas and /cookies endpoint
  openapi/v1/components/schemas/CookieInfo.json
  openapi/v1/components/schemas/GeneralReponse.json
  openapi/v1/cookies-scraper.json
Due: none

config(stoplight): update base url
  openapi/v1/cookies-scraper.json
Due: none

fetch-cookies(stoplight): update the endpoint /cookies
  openapi/v1/components/schemas/GeneralResponse.json
  openapi/v1/cookies-scraper.json
Due: none

config: fix missing properties and typo in the openapi file
  openapi/v1/cookies-scraper.json
Due: none

fetch-cookies(stoplight): update the type of the query param
  openapi/v1/cookies-scraper.json
Due: none

fetch-cookies: implement the /cookies endpoint
  src/controllers/CookieScrapperController.ts
  src/controllers/CookiesController.ts
  src/controllers/HttpController.ts
  src/controllers/HttpControllerUtils.ts
  src/controllers/types/cookiesType.ts
  src/routes/cookieScrapper.ts
  src/routes/cookies.ts
  src/routes/index.ts
  src/services/CookiesService.ts
  types/cookies-scraper.openapi-types.ts
Due: eslint --fix, prettier --write

config: add the url for staging environment
  openapi/v1/cookies-scraper.json
Due: none

fetch-cookies: implement the service and add a mapper for CookieInfo
  src/services/CookiesService.ts
  src/services/mappers/AbstractMapper.ts
  src/services/mappers/Mapper.ts
  src/services/mappers/api/CookieInfoMapper.ts
  src/utils/SitemapUtils.ts
Due: eslint --fix, prettier --write

config: add puppeteer config file
  .puppeteerrc.cjs
Due: none

fetch-cookies: add new fields on the response of /cookies
  openapi/v1/cookies-scraper.json
Due: none

fetch-cookies(wip): improves the getCookieInfos function
  .idea/codeStyles/codeStyleConfig.xml
  .idea/jsLinters/eslint.xml
  src/services/CookiesService.ts
  src/utils/ArrayUtils.ts
  src/utils/SitemapUtils.ts
  types/cookies-scraper.openapi-types.ts
Due: eslint --fix, prettier --write

config: add a condition so that puppeteer can work locally
  .puppeteerrc.cjs
Due: none

sitemap(wip): add various methods related to a sitemap
  src/services/CookiesService.ts
  src/utils/SitemapUtils.ts
Due: eslint --fix, prettier --write

config: update package.json (add prettier and sitemapper + clean)
  .idea/prettier.xml
  package-lock.json
  package.json
Due: none

sitemap: finish methods the get links from an url using the sitemap
  src/services/CookiesService.ts
  src/utils/SitemapUtils.ts
Due: eslint --fix, prettier --write

performance: add logs to compute some functions time
  src/services/CookiesService.ts
  src/utils/PerformanceUtils.ts
Due: eslint --fix, prettier --write
