Repository progressive-identity/cookies-scraper-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

gha: fix status of the job displayed
  .github/workflows/github-actions.yml
Due: none

gha: try to remove a condition
  .github/workflows/github-actions.yml
Due: none

gha: restore the condition for notifications, that seems necessary
  .github/workflows/github-actions.yml
Due: none

gha: update slack notifications
  .github/workflows/github-actions.yml
Due: none

gha: use a different case for jobs name
  .github/workflows/github-actions.yml
Due: none

gha: deploy to a different application depending on the branch
  .github/workflows/github-actions.yml
Due: none

puppeteer: fix a bug in development environment
  .puppeteerrc.cjs
Due: none

puppeteer: update version
  package-lock.json
  package.json
Due: none

config: launch apm even on test environment
  src/utils/logging/initapm.ts
Due: eslint --fix, prettier --write

gha: split the action into multiple jobs
  .github/workflows/github-actions.yml
Due: none

gha: update syntax for getting the result of a job
  .github/workflows/github-actions.yml
Due: none

gha: try a different syntax for getting status of a job
  .github/workflows/github-actions.yml
Due: none

gha: fix issues with getting status from a different job
  .github/workflows/github-actions.yml
Due: none

config: use a different strategy to obtain the name of the application
  package-lock.json
  package.json
  src/utils/logging/aliasLogger.ts
  src/utils/logging/initapm.ts
Due: eslint --fix, prettier --write

config: use a different strategy to obtain the name of the application
  src/utils/logging/aliasLogger.ts
  src/utils/logging/initapm.ts
Due: eslint --fix, prettier --write

gha: add a nightly build
  .github/workflows/nightly-build.yml
Due: none

gha: temporarily change the cron value
  .github/workflows/nightly-build.yml
Due: none

gha: revert the cron value to a reasonable time
  .github/workflows/nightly-build.yml
Due: none

(scripts): filter cookies by scripts
  src/services/CookiesService.ts
  test1.ts
  test2.ts
  test3.ts
Due: eslint --fix, prettier --write

(wip) try to dockerize (fail)
  .dockerignore
  Dockerfile
  docker-build.sh
  src/index.ts
Due: eslint --fix, prettier --write

refacto
  test3.ts
Due: eslint --fix

add code to cookieService
  src/services/CookiesService.ts
  test1.ts
  test2.ts
  test3.ts
Due: eslint --fix, prettier --write

(stoplight): rewrite cookie response to handle script infos
  openapi/v1/components/schemas/ScriptInfo.json
  openapi/v1/cookies-scraper.json
Due: none

(cookieService): change the return type
  src/services/CookiesService.ts
  types/cookies-scraper.openapi-types.ts
Due: eslint --fix, prettier --write

(stoplight): rework endpoints to add a scripts endpoint
  openapi/v1/components/schemas/ScriptInfo.json
  openapi/v1/cookies-scraper.json
Due: none

gha: disable slack notifications when deploy to CC is skipped
  .github/workflows/github-actions.yml
Due: none

config: add SonarLint directories to .gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx, json}
